@model IEnumerable<Student>

@{
    Layout = "_Layoutty";
    ViewData["Title"] = "Index";
}

<style>
    .select-small {
        width: 100px;
        height: 40px; 
        font-size: 10px;  
    }

    .no-link-style {
        text-decoration: none; 
        color: white;
    }
</style>

<h1 class="alert alert-info text-center">Students Info</h1>
<form method="post" asp-action="index" asp-controller="student" class="row mb-3 col-md-6 offset-md-3">
    <div class="input-group">
        <select name="searchType" class="select-small">
            <option value="Name">Search by Name</option>
            <option value="ID">Search by ID</option>
        </select>
        <input type="text" name="searchQuery" class="form-control" placeholder="Search" value="@ViewBag.SearchQuery">
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>
@if (ViewBag.isExist == true)
{
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr class="p-3 bg-primary text-white">
                <th>ID</th>
                <th>
                    <a class="no-link-style" asp-action="index" asp-controller="student" asp-route-sort=true asp-route-searchType="Name" asp-route-searchQuery="@ViewBag.SearchQuery">Name</a>
                </th>
                <th>Optional</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="details" asp-controller="student" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="student" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="student" asp-route-id="@item.Id" onclick="return confirm ('Are you sure about deleting this Student?')" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="blockquote text-white text-center bg-danger">There are no Students matched your search</p>
}
<a asp-action="create" asp-controller="student" class="btn btn-success">Adding Student <span class="badge bg-info">@Model.Count()</span></a>